{% load static %}
<script src="{% static 'js/jquery.js' %} "></script>
<script>
    function trolled(lol, jhol, thiss) {
        console.log('vahi vala', lol, jhol);
        $.ajax({
            url: 'unfavorite',
            type: 'POST',
            data: {'label': lol, 'name': jhol},
            dataType: 'json',
        });

        console.log($(thiss).parentsUntil(".favoriteSelectorss").remove())
    }

    $(document).ready(function () {
        $.ajax({
            url: "favorite",
            context: document.body,
            success: function (data) {
                $('#favorite_app').append(data.dist_data);
            }
        });
    });


</script>
<div id="favorite_app" class="app-admin_favorite module">
</div>

